.online-sidebar {
    width: 240px;
    padding-top: 20px;
    background-color: #2b2d31;
}

.online-title {
    padding: 4px 8px 0 16px;
    color: #949ba4;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.online-user {
    display: flex;
    align-items: center;
    margin: 0px 8px;
    padding: 4px 8px;
    width: calc(100% - 16px);
    height: 44px;
    border-radius: 4px;
    cursor: pointer;
}

.online-user:hover {
    background-color: #35373c;
}

.online-user svg {
    margin-right: 12px;
}

.online-user p {
    height: min-content;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #949ba4;
}

.online-user-verified {
    fill: #ffffff;
    height: 18px;
    vertical-align: -0.2em;
}
