.userarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #232428;
}

.userarea-profile {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

.userarea-profile svg {
    margin-right: 8px;
}

.userarea-profile p {
    min-width: 76px;
    font-size: 14px;
}

.userarea-profile img {
    height: 32px;
    border-radius: 10px;
}

.userarea-profile:hover {
    background-color: #3d3e45;
}

.userarea-profile-status {
    font-size: 12px !important;
    color: #b5bac1;
}

.userarea-settings {
    width: 32px;
    height: 32px;
    position: relative;
    aspect-ratio: 1/1;
    padding: 6px;
    border-radius: 4px;
    fill: #b4b9c0;
    cursor: pointer;
}

.userarea-settings:hover {
    background-color: #3d3e45;
}

.userarea-settings:hover > svg {
    animation: spin normal 1s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
