* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    display: grid;
    grid-template-rows: 24px auto;
    width: 100%;
    height: 100vh;
    color-scheme: dark;
    background-color: #313338;
    --webkit-user-select: none;
}

em-emoji-picker {
    --background-rgb: 41, 43, 47;
    --border-radius: 10px;
    --category-icon-size: 20px;
    --color-border: #1e1f22;
    font-family: "Poppins", sans-serif !important;
    --font-size: 20px;
    --rgb-accent: 88, 101, 242;
    --rgb-background: 43, 45, 49;
    --rgb-color: 181, 186, 193;
    --rgb-input: 41, 43, 47;
}

h1,
h2,
h3 {
    font-weight: 600;
}

button {
    height: 32px;
    padding: 2px 16px;
    border-radius: 3px;
    background-color: #5865f2;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    transition:
        background-color 170ms ease,
        color 170ms ease;
    cursor: pointer;
}

button:hover {
    background-color: #4752c4;
}

.main {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.taskbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    background-color: #1e1f22;
}

.taskbar-title {
    flex-grow: 1;
    -webkit-app-region: drag;
}

.taskbar-title p {
    padding: 4px 12px;
    font-size: 12px;
    color: #949ba4;
    font-weight: 700;
}

.taskbar-controls {
    display: flex;
}

.taskbar-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 24px;
}

.taskbar-control svg {
    width: 14px;
    height: 14px;
    fill: #b5bac1;
}

.taskbar-control:hover {
    background-color: #2c2e32;
    cursor: pointer;
}

#taskbar-control-close:hover {
    background-color: #f23f42;
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 24px);
    position: absolute;
    background-color: #000000b3;
    z-index: 100;
}

.overlay-form {
    width: 440px;
    height: fit-content;
    border-radius: 4px;
    background-color: #313338;
}

.overlay-form-content {
    padding: 16px;
}

.overlay-form-content h1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.overlay-form-content p {
    text-align: center;
    color: #b5bac1;
    font-weight: 400;
    font-size: 14px;
}

.overlay-form-questions {
    padding: 0 16px;
}

.overlay-form-questions h2 {
    color: #b5bac1;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.overlay-form-questions input[type="text"] {
    padding: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    background-color: #1e1f22;
    border: 0;
    outline: 0;
    text-rendering: optimizeLegibility;
}

.overlay-form-questions input[type="color"] {
    height: 44px;
    margin-bottom: 16px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    background-color: #1e1f22;
    border: 0;
    outline: 0;
    text-rendering: optimizeLegibility;
}

.overlay-form-questions input[type="color"]::-moz-color-swatch {
    border-radius: 3px;
    border: none;
}

.overlay-form-questions input[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: 3px;
    padding: 0;
    border-radius: 0;
}

.overlay-form-questions input[type="color"]::-webkit-color-swatch {
    border-radius: 3px;
    border: none;
}

.overlay-form-confirm {
    display: flex;
    justify-content: space-between;
    background-color: #2b2d31;
    padding: 16px;
    border-radius: 0px 0px 4px 4px;
}

.overlay-form-confirm button:nth-of-type(1) {
    background-color: transparent !important;
}

.overlay-form-confirm button:nth-of-type(1):hover {
    text-decoration: underline;
}

.sidebar {
    display: grid;
    grid-template-columns: 72px 240px;
    grid-template-rows: auto 53px;
    background-color: #2b2d31;
}

.server-sidebar {
    display: flex;
    flex-direction: column;
    padding: 12px;
    grid-row: span 2;
    background-color: #1e1f22;
}

#server-name {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 240px;
    padding: 16px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
    font-size: 16px;
    cursor: pointer;
}

#server-description {
    width: 224px;
    padding: 8px 12px 16px;
    color: #949ba4;
    border-bottom: 2.5px solid #3b3d44;
}

.server-banner {
    position: relative;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    aspect-ratio: 16/9;
    overflow: hidden;
}

.server-sidebar-icon {
    margin-bottom: 16px;
    aspect-ratio: 1/1;
}

.server-sidebar-plus {
    width: 48px;
    padding: 12px;
    cursor: pointer;
    transition: 0.25s ease;
    background-color: #313338;
    fill: #23a559;
    margin-bottom: 16px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.server-sidebar-plus:hover {
    border-radius: 15px;
    fill: #ffffff;
    background-color: #23a559;
}

.server-sidebar-icon:nth-child(1) {
    padding-bottom: 16px;
    border-bottom: 2.5px solid #313338;
}

.server-sidebar-icon:nth-child(1) img {
    border-radius: 0;
}

.server-sidebar-icon:nth-child(1) img:hover {
    border-radius: 0;
}

.server-sidebar-icon img {
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s ease;
}

.server-sidebar-icon img:hover {
    border-radius: 20px;
}

.channel-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.channel-sidebar::-webkit-scrollbar {
    display: none;
}

.channel-sidebar-item {
    display: block;
    width: 100%;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 12px;
}

.channel-sidebar-item:hover {
    background-color: #35373c;
}

.channel-sidebar-item a,
.channel-sidebar-item svg {
    text-decoration: none;
    color: #949ba4 !important;
    fill: #949ba4 !important;
}

.channel-sidebar-item a {
    display: block;
    width: 100%;
    font-size: 16px;
}

.channels-current {
    background-color: #383a40;
}

.channels-current a,
.channels-current svg {
    color: #ffffff !important;
    fill: #ffffff !important;
}

.channels-current:hover {
    background-color: #383a40;
}

/* settings */

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #232428;
}

.settings-profile {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

.settings-profile svg {
    margin-right: 8px;
}

.settings-profile p {
    min-width: 76px;
    font-size: 14px;
}

.settings-profile img {
    height: 32px;
    border-radius: 10px;
}

.settings-profile:hover {
    background-color: #3d3e45;
}

.settings-settings {
    width: 32px;
    height: 32px;
    position: relative;
    aspect-ratio: 1/1;
    padding: 6px;
    border-radius: 4px;
    fill: #b4b9c0;
    cursor: pointer;
}

.settings-settings:hover {
    background-color: #3d3e45;
}

.settings-settings:hover > svg {
    animation: spin normal 1s;
}

/* messages */

.main-middle {
    display: grid;
    height: calc(100vh - 24px);
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    background-color: #313338;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 100px;
}

.channel-sidebar::-webkit-scrollbar {
    display: none;
}

.greating {
    text-align: center;
    margin: 16px;
}

.greeting-title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
}

.greeting-desc {
    color: #b5bac1;
    font-size: 14px;
    font-weight: 400;
}

.message {
    display: flex;
    width: 100%;
    padding: 4px 12px;
    --webkit-user-select: text;
}

.message-pfp {
    height: 50px;
    margin-right: 12px;
    border-radius: 50%;
}

.message-sender * {
    font-size: 20px;
    font-weight: 600;
}

.message-sender svg {
    fill: #ffffff;
    height: 24px;
    vertical-align: middle;
}

.message-sender span {
    vertical-align: initial;
}

.message-time {
    font-weight: normal;
    font-size: 16px;
    color: gray;
}

.message-time-multi {
    min-width: 50px !important;
    margin-right: 12px;
    font-weight: normal;
    font-size: 16px;
    color: gray;
    text-align: right;
    opacity: 0;
}

.message:hover .message-time-multi {
    opacity: 1;
}

.message:not(.message-mention):not(.message-important):hover {
    background-color: #2e3035;
}

.message-content {
    width: calc(100% - 62px);
    overflow-wrap: break-word;
    font-size: 20px;
}

.message-highlight {
    background-color: #5865f24d;
    padding: 2px;
    margin-top: 2px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition:
        background-color 50ms ease-out,
        color 50ms ease-out;
}

.message-highlight:hover {
    background-color: #5865f2;
}

.message-mention {
    background-color: hsl(40 86% 57% / 0.1);
    border-left: 2px solid hsl(40 86% 57%);
}

.message-important {
    background-color: hsl(0 86% 57% / 0.1);
    border-left: 2px solid hsl(0 86% 57%);
}

.message-spoiler {
    width: fit-content;
    background-color: #1e1f22;
    padding: 2px;
    margin-top: 2px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.message-spoiler:hover {
    background-color: hsl(0 0% 100% / 0.1);
}

.message-spoiler-text {
    opacity: 0;
}

.message-spoiler:hover .message-spoiler-text {
    opacity: 1;
}

.message-raw-text {
    width: fit-content;
    background-color: hsl(0 0% 100% / 0.1);
    padding: 2px;
    margin-top: 2px;
    border-radius: 5px;
    text-decoration: none;
    white-space: pre-wrap;
    font-family: consolas, monospace;
}

.message-content img {
    max-width: 400px;
    border-radius: 10px;
}

.message-content-embed {
    width: fit-content;
    border-left-style: solid;
    border-width: 4px;
    padding: 16px 14px 16px 12px;
    border-radius: 4px;
    background-color: #2b2d31;
}

.emoji {
    height: 36px !important;
    border-radius: 0 !important;
    vertical-align: middle;
}

/* Typing indicator */

.typing-indicator {
    display: flex;
    position: absolute;
    top: -30px;
    left: 56px;
    filter: drop-shadow(0px 0px 3px #000);
}

.typing-indicator svg {
    width: 23px;
    aspect-ratio: 1/1;
    fill: #ffffff;
    margin-right: 4px;
    vertical-align: middle;
    animation: spin normal 1s infinite steps(8);
}

.typing-indicator div {
    vertical-align: middle;
    display: inline-block;
}

/* Message create */

.create {
    display: flex;
    position: fixed;
    width: calc(100% - 584px);
    height: 44px;
    bottom: 0;
    margin: 32px 16px 24px 16px;
}

.message-create {
    flex-grow: 1;
    height: 100%;
    padding: 10px 0px;
    outline: none;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    background-color: #383a40;
}

.message-create-button {
    width: 56px;
    padding: 10px 16px;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #383a40;
    cursor: pointer;
}

.message-create-button svg {
    height: 100%;
    cursor: pointer;
    fill: #b5bac1;
}

.message-create-button svg:hover {
    fill: #dbdee1;
}

.message-create-button:nth-of-type(2) {
    border-radius: 10px 0px 0px 10px;
}

.message-create-button:nth-of-type(3) {
    width: 59px;
}

.message-create-button:nth-of-type(4) {
    border-radius: 0px 10px 10px 0px;
}

.emoji-picker-div {
    position: absolute;
    display: none;
    right: 0;
    bottom: 64px;
}

/* Video */

.video {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 1em;
    
}

@media screen and  (max-width: 1352px) {
    .video {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }   
}

.video video {
    display: flex;
    background: #313338;
    border-radius: 10px;
    align-self: center;
    width: 100%;
    border-radius: 3px;
    transform: scaleX(-1);
}

#voice-call button {
    width: fit-content;
    height: 100%;
    border-radius: 3px;
}

#voice-call input {
    padding: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #1e1f22;
    border: 0;
    outline: 0;
    text-rendering: optimizeLegibility;
}

/* Sidebar Right */

.online-sidebar {
    width: 240px;
    padding-top: 20px;
    background-color: #2b2d31;
}

#online-title {
    padding: 4px 8px 0 16px;
    color: #949ba4;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.online-user {
    display: flex;
    align-items: center;
    margin: 0px 8px;
    padding: 1px 8px;
    width: calc(100% - 16px);
    height: 44px;
    border-radius: 4px;
    cursor: pointer;
}

.online-user:hover {
    background-color: #35373c;
}

.online-user img {
    height: 32px;
}

.online-user svg {
    margin-right: 12px;
}

.online-user p {
    height: min-content;
    font-size: 16px;
    font-weight: 500;
    color: #949ba4;
}

/* Animations */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
