:root {
    --red: hsl(0 86% 57%);
    --orange: hsl(40 86% 57%);
    --yellow: hsl(70 86% 57%);
    --green: hsl(130 86% 57%);
    --cyan: hsl(175 86% 57%);
    --blue: hsl(200 86% 57%);
    --purple: hsl(275 86% 57%);

    --red-translucent: hsl(0 86% 57% / 0.1);
    --orange-translucent: hsl(40 86% 57% / 0.1);
    --yellow-translucent: hsl(70 86% 57% / 0.1);
    --green-translucent: hsl(130 86% 57% / 0.1);
    --cyan-translucent: hsl(175 86% 57% / 0.1);
    --blue-translucent: hsl(200 86% 57% / 0.1);
    --purple-translucent: hsl(275 86% 57% / 0.1);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    height: 100vh;
    color-scheme: dark;
    background-color: #313338;
}

em-emoji-picker {
    --background-rgb: 41, 43, 47;
    --border-radius: 10px;
    --category-icon-size: 20px;
    --color-border: rgb(41, 43, 47);
    font-family: "Poppins", sans-serif !important;
    --font-size: 20px;
    --rgb-accent: 88, 101, 242;
    --rgb-background: 47, 49, 54;
    --rgb-color: 255, 255, 255;
    --rgb-input: 41, 43, 47;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

h1,
h2,
h3 {
    font-weight: 600;
}

.sidebar {
    display: grid;
    grid-template-columns: 72px 240px;
    grid-template-rows: auto 53px;
    background-color: #2b2d31;
    height: 100vh;
}

.server-sidebar {
    display: flex;
    flex-direction: column;
    padding: 12px;
    grid-row: span 2;
    background-color: #1e1f22;
}

#server-name {
    position: fixed;
    width: 240px;
    padding: 16px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    font-size: 16px;
}

#server-description {
    width: 224px;
    padding: 0px 12px 16px;
    color: #949ba4;
    border-bottom: 2.5px solid #3b3d44;
}

.server-banner {
    position: relative;
    top: -8px;
    left: -8px;
    width: calc(100% + 2em);
    aspect-ratio: 16/9;
    overflow: hidden;
    box-shadow: inset 0px 0px 300px -150px rgba(0, 0, 0, 1);
}

.server-sidebar-icon {
    margin-bottom: 16px;
    aspect-ratio: 1/1;
}

.server-sidebar-plus {
    width: 48px;
    padding: 12px;
    cursor: pointer;
    transition: 0.25s ease;
    background-color: #2b2d31;
    fill: #23a559;
    margin-bottom: 16px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.server-sidebar-plus:hover {
    border-radius: 20px;
    fill: #ffffff;
    background-color: #23a559;
}

.server-sidebar-icon:nth-child(1) {
    padding-bottom: 16px;
    border-bottom: 2.5px solid #313338;
}

.server-sidebar-icon:nth-child(1) img {
    border-radius: 0;
}

.server-sidebar-icon:nth-child(1) img:hover {
    border-radius: 0;
}

.server-sidebar-icon img {
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s ease;
}

.server-sidebar-icon img:hover {
    border-radius: 20px;
}

.channel-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.channel-sidebar::-webkit-scrollbar {
    display: none;
}

.channel-sidebar-item {
    display: block;
    width: 100%;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 12px;
}

.channel-sidebar-item:hover {
    background-color: #35373c;
}

.channel-sidebar-item a,
.channel-sidebar-item svg {
    text-decoration: none;
    color: #949ba4 !important;
    fill: #949ba4 !important;
}

.channel-sidebar-item a {
    display: block;
    width: 100%;
    font-size: 16px;
}

.channels-current {
    background-color: #383a40;
}

.channels-current a,
.channels-current svg {
    color: #ffffff !important;
    fill: #ffffff !important;
}

.channels-current:hover {
    background-color: #383a40;
}

#server-info {
    margin-top: 12px;
    opacity: 50%;
}

/* settings */

.settings {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #232428;
}

.settings-profile {
    display: flex;
    align-items: center;
}

.settings-profile p {
    vertical-align: middle;
    font-size: 24px;
    font-size: 14px;
}

.settings-profile img {
    height: 100%;
    margin-right: 16px;
    height: 32px;
}

.settings-settings {
    position: relative;
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 10px;
    fill: #b4b9c0;
    cursor: pointer;
}

.settings-settings:hover {
    background-color: #3d3e45;
}

.settings-settings:hover > svg {
    animation: spin normal 1s;
}

/* messages */

.main {
    display: grid;
    grid-template-rows: auto 96px;
    height: 100vh;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    background-color: #313338;
}

.greating {
    color: #ffffff;
    opacity: 30%;
    text-align: center;
    padding: 1em;
}

.message {
    display: flex;
    width: 100%;
    overflow-wrap: break-word;
    padding: 4px 12px;
}

.message-pfp {
    height: 50px;
    margin-right: 12px;
}

.message-sender * {
    font-size: 20px;
    font-weight: 600;
}

.message-sender svg {
    fill: #ffffff;
    height: 24px;
    vertical-align: middle;
}

.message-sender span {
    vertical-align: initial;
}

.message-time {
    font-weight: normal;
    font-size: 16px;
    color: gray;
}

.message-time-multi {
    width: 50px;
    margin-right: 12px;
    font-weight: normal;
    font-size: 16px;
    color: gray;
    text-align: right;
    opacity: 0;
}

.message:hover .message-time-multi {
    opacity: 1;
}

.message:not(.message-mention):not(.message-important):hover {
    background-color: #2e3035;
}

.message-content {
    font-size: 20px;
}

.message-highlight {
    background-color: hsl(235 calc(1 * 85.6%) 64.7% / 0.3);
    padding: 2px;
    margin-top: 2px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition:
        background-color 50ms ease-out,
        color 50ms ease-out;
}

.message-highlight:hover {
    background-color: hsl(235 calc(1 * 85.6%) 64.7% / 1);
}

.message-mention {
    background-color: var(--orange-translucent);
    border-left: 2px solid var(--orange);
}

.message-important {
    background-color: var(--red-translucent);
    border-left: 2px solid var(--red);
}

.message-spoiler {
    width: fit-content;
    background-color: #313338;
    border: 2px solid #2b2d31;
    padding: 2px;
    margin-top: 2px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.sign-in {
    font-size: 24px;
    width: fit-content;
    background-color: #313338;
    border: 2px solid #2b2d31;
    padding: 2px;
    margin-top: 2px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.message-spoiler-text {
    opacity: 0;
}

.message-spoiler-text:hover {
    opacity: 1;
}

.message-content img {
    max-width: 50%;
    border-radius: 10px;
}

.message-content-embed {
    width: fit-content;
    border-left-style: solid;
    border-width: 6px;
    padding: 1em;
    margin-top: 12px;
    border-radius: 10px;
    background-color: #313338;
}

.emoji {
    height: 36px !important;
    border-radius: 0 !important;
    vertical-align: middle;
}

/* Typing indicator */

.typing-indicator {
    display: flex;
    position: absolute;
    top: -30px;
    left: 56px;
}

.typing-indicator svg {
    width: 23px;
    aspect-ratio: 1/1;
    fill: #ffffff;
    margin-right: 4px;
    vertical-align: middle;
    animation: spin normal 1s infinite steps(8);
}

.typing-indicator div {
    vertical-align: middle;
    display: inline-block;
}

/* Message create */

.create {
    display: flex;
    position: relative;
    height: 44px;
    margin: 32px 16px 24px 16px;
}

.message-create {
    flex-grow: 1;
    height: 100%;
    padding: 10px 12px;
    outline: none;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    background-color: #383a40;
}

.message-create-button {
    padding: 10px;
    aspect-ratio: 1/1;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #383a40;
    cursor: pointer;
}

.message-create-button svg {
    height: 100%;
    cursor: pointer;
    fill: #B5BAC1;
}

.message-create-button svg:hover {
    fill: #dbdee1;
}

.message-create-button:nth-of-type(2) {
    border-radius: 10px 0px 0px 10px;
} 

.message-create-button:nth-of-type(3) {
    border-radius: 0px 10px 10px 0px;
} 

.emoji-picker-div {
    position: absolute;
    display: none;
    right: 0;
    bottom: 64px;
}

/* Video */

.video {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 1em;
}

.video video {
    display: flex;
    background: #313338;
    border-radius: 10px;
    align-self: center;
    width: 100%;
    transform: scaleX(-1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
